.App {
  text-align: center;
  background: linear-gradient(
    80deg,
    #d9d0dc,
    #f0ddce 40%,
    #f0ddce 75%,
    #bda3ab 100%
  );
  min-height: 100vh;
}

.App-dark {
  text-align: center;
  background: linear-gradient(80deg, #414141, #000000);
  min-height: 100vh;
}
.bg-gradient-dark {
  background: linear-gradient(80deg, #414141, #000000);
}
.bg-grdient-dark {
  background: linear-gradient(80deg, #505050, #000000);
}
